#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: #fff;
}

#beer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

#beer-info h1 {
  color: yellow;
}

#beer-info p {
  color: yellow;
}

#beer-info img {
  border-radius: 0.2em;
  height: 10em;
  padding-bottom: 1em;
}

.beerCard {
  width: 50%;
  border: 1px solid #fff;
}
